

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* cor */
.jumbotron {
	background-color: #2980b9;
	color: white;
}

.mural_recados {
	margin: 15px 0;
	padding: 0 15px 15px;
	background-color: #16a085;
	color: white;
}

.jumbotron .bg-warning {
	background-color: #f39c12;
	color: white;
}

.adm {
	background-color: #2c3e50;
	color: white;
}

.apv {
	margin: 15px 0;
	padding: 0 15px 15px;
	background-color: #16a085;
	color: white;
}

/* css jquery ao passar mouse sob linha*/
.seleciona-linha {
      background-color: #3498db;
      cursor: pointer;
   }

/* esconde as células de tabela com "search" nos botões */
.tablesorter-filter-row td:nth-of-type(8) input {
	visibility: hidden;
}

.tablesorter-filter-row td:nth-of-type(9) input {
	visibility: hidden;
}